body {
  margin: 0;
  font-family: "Valentine";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Valentine";
  font-style: normal;
  font-weight: normal;
  src: local('Valentine'), url('./fonts/Valentine.woff') format('woff');
}

